body {
    background-color: lightgray;
    font-family: sans-serif;
    margin: 10px 10px 10px 10px;
    
}

#title {
    justify-content: center;
    font-size: 300%;
    text-align:center;
}

img {
    
    float:left;
    margin:0px 10px 10px 50px;
}

#paragraph {
    text-align:center;
    
    margin-left: 10%;
    margin-right: 10%;
}

h2{
    clear:both;

}

#subtitle{
    background-color: gray;
    color:white;
}

#span1{
    color:red;
    font-style: italic;

}
#span2{
    background-color: white;

}

p{
    text-indent: 29px;

}



