
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
body{
    font-family: 'Raleway', sans-serif;

}
.container {
  display: flex;
  flex-direction: column;
}
.colContainer {
  display: flex;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  color: white;
  overflow: hidden;
  max-height: 364px;
}
header > h1 {
  margin-bottom: 0;
}
.bold {
  font-weight: bold;
}

nav {
  background-color: #333;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
li {
  margin: 10px 10px 10px 0px;
}
li a {
  padding: 11px 10px;
}
li a:hover {
  background-color: gray;
}
.col2 {
  margin-left: 40px;
  width: 100%;
  /*
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 57%, rgba(0,0,0,1) 80%);*/
  background: url("./svgPc.svg") no-repeat center;
  background-image: url("./svgPc.svg");
  background-size: cover;  
}
.imgExample1,
.imgExample3 {
  align-self: center;
}
.imgExample1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.imgExample1 img {
  max-width: 150px;
  align-self: center;
}

.imgExample2 img {
  max-width: 100%;
}

.imgExample3 img {
  max-width: 200px;
  margin: 2px;
}
.imgExample1 img:hover,
.imgExample3 img:hover,
.imgExample2 img:hover {
  box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, 0.972);
}

aside {
  background-color: lightgray;
  display: flex;
  flex-direction: column;

  flex-shrink: 1;
  width: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: rgb(179, 174, 174);
   
}
footer *{
      margin:5px;
      
  }
@media screen and (max-width: 600px) {
  .colContainer {
    flex-direction: column;
  }
  .col2 {
    margin: 0;
  }
  ul {
    flex-direction: column;
    text-align: center;
  }
  li {
    margin: 0;
  }
  a {
    display: block;
  }

  aside {
    max-width: 100%;
  }
  .imgExample1 {
    align-self: center;
  }
  header {
    min-height: auto;
  }
  .imgExample3 {
    align-self: center;
  }
  body{
      margin:10px;
  }
  aside{
      max-width: 95%;
  }
  footer{
      flex-wrap:wrap;
      height: auto;
     
  }
  body{
    /*background: url("./svgPhone.svg") no-repeat center;
       background: linear-gradient(180deg, rgba(255,255,255,1) 88%, rgba(0,0,0,1) 100%);
    background-image: url("./svgPhone.svg");*/
    background: url("./svgPhone.svg") no-repeat fixed;
    background-size: cover;
    
  }
  .col2{
    background:transparent;
  }
}
