.news{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:21%;
    align-content: center;
    border: solid 1px red;
    padding: 10px;

}
.news__content{
    align-self: center;
    text-align: justify;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    width: 95%;
    border: dashed 1px rgb(207, 207, 207);
}