
.menu{
    color:white;
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: #333;
    overflow:hidden;

}
.menu > li{
    float:left;
}

li a{
    display:inline-block;
    padding: 14px 16px;
    border:0px;
    text-decoration:none;
    
}
.active{
    background-color:red;
}

li a:hover{
    background-color:gray;
}
#title{
    text-align: center;
}

#column-1{
    float:left;
    width:25%;
    height: 700px;
}
#column-2{
    float:right;
    width:75%;
}

#img{
    float:left;
    width:33%;
}

.inline > li {
    display:block;
    text-align: justify;
   
}

.inline{
	list-style-type: none;
	text-align: justify;
}
.inline li {
	width:23%;
	float:left;
	padding: 10px;
}


body{
    overflow-x:hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(251,125,125,1) 0%, rgba(245,148,148,1) 21%, rgba(236,223,223,1) 52%, rgba(236,156,156,1) 79%, rgba(255,132,132,0.9155899176076681) 100%);
}



@media only screen and (max-width: 600px) {
  
    #column-2{
        display:block;
        width:100%;
        
    }
    #column-1 > ul > li{
        display: block;
        padding:0 0 0 0 ;
        text-align: justify;
        
       
    }
    #column-1 {
        width:100%;
        clear:both;
        height: 150px;
    }
    #column-1 > h2 {
        clear:both;
        text-align: center;
    }
    .responsive{
        float:left;
        text-align: left;
    }
    .inline > li {
        display:block;
        text-align: justify;
        float:left;
        width:90%;
    }
    
.inline{
    display:list-item;
    
        margin: 0;
        padding: 0;
      
}
  }